<!DOCTYPE html>
<html>
  <head>
    <title>SetAsPrimary: The simplest way to handle the primary or default flag to your models.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="" style="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "&#x2705; SetAsPrimary".html_safe, root_path, class: "navbar-brand" %>
        <mark>
          The simplest way to handle the primary or default flag to your models
        </mark>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">
        Made by <%= link_to "Santosh Wadghule", "http://mechanicles.com/", target: "_blank" %>
        |
        View <%= link_to "set_as_primary", "https://github.com/mechanicles/set_as_primary", target: "_blank" %> gem
        |
        <%= link_to "Bootswatch", "https://bootswatch.com/litera/", target: "_blank" %> for the theme &#x1F44F;
      </div>
    </footer>
  </body>
</html>
