<!DOCTYPE html>
<html>
  <head>
    <title>SetAsPrimary: The simplest way to handle the primary or default flag to your models.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="" style="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "&#x2705; SetAsPrimary".html_safe, root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= active("users") %>">
              <%= link_to "User", users_path, class: "nav-link" %>
            </li>
            <li class="nav-item <%= active("posts") %>">
              <%= link_to "Posts", posts_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Read blog post here", "http://blog.mechanicles.com/2019/12/26/primary-or-default-flag-to-the-rails-models.html",
                          target: "_blank", class: "nav-link" %>
            </li>
          </ul>
        </div>
        <mark>
          The simplest way to handle the primary or default flag to your Rails models
        </mark>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">
        Made by <%= link_to "Santosh Wadghule", "http://mechanicles.com/", target: "_blank" %>
        |
        View <%= link_to "set_as_primary", "https://github.com/mechanicles/set_as_primary", target: "_blank" %> gem
        |
        <%= link_to "Bootswatch", "https://bootswatch.com/litera/", target: "_blank" %> for the theme &#x1F44F;
      </div>
    </footer>
  </body>
</html>
